h1 {
    color: purple;
    font-size: 55px;
    text-align: center;
}

h2 {
    color: red;
    font-size: 100px;
    text-align: center;
}

h3 {
    color: blue;
    font-size: 105px;
    text-align: center;
}

h4{
    color: yellow;
    font-size: 90px;
    text-align: center;
}

h5{
    color: greenyellow;
    font-size: 90px;
    text-align: center;
}

.cover-photo {
    width: 1080;
    height: 1920px;
}