h1 {
    color: purple;
    font-size: 55px;
    text-align: center;
}

h2 {
    color: red;
    font-size: 100px;
    text-align: center;
}

h3 {
    color: blue;
    font-size: 105px;
    text-align: center;
}

h4{
    color: cyan;
    font-size: 120px;
    text-align: center;
}